
.dashboard {
    width:80%;
    margin-left: 15%;
    padding: 1rem;
    text-align: center;
}

#bugHead{
    margin-right: 30%;
}

.addBugButton {
    background-color: #218721; 
    color: white;
    border: none;
    padding: 10px 15px;
    margin-bottom: 1rem; 
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    float: left;
}

.addBugButton:hover {
    background-color: #2e753f; 
}

.bugTable {
    width: 80%;
    border-collapse: collapse;
    margin: 1rem 0;
}

.bugTable th, .bugTable td {
    border: 1px solid #474444;
    padding: 10px;
    text-align: left;
}

.bugTable th {
    background-color: #b0a7a7;
    font-weight: bold;
}

.bugTable tr:nth-child(even) {
    background-color: #f9f9f9; 
}

.bugTable tr:hover {
    background-color: #f1f1f1; 
}


td .editButton, td .deleteButton {
    margin-right: 5px; 
    font-size: 18px; 
    cursor: pointer; 
    vertical-align: middle; 
    border: None;
}

td .editIcon:hover {
    color: #007bff; 
}

td .deleteIcon:hover {
    color: #dc3545; 
}


.saveButton, .cancelButton {
    font-size: 18px;
    margin-right: 8px;
    cursor: pointer;
}

.saveButton {
    color: green;
    border: None;
}

.cancelButton {
    color: red;
    border: None;
}

.saveButton:hover, .cancelButton:hover {
    opacity: 0.7; 
}
