
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #849fa0ef;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer; 
}

.image {
    width: 40px; 
    height: 40px;
    margin-right: 10px; 
}

.title {
    font-size: 1.5rem;
    color: #333;
    margin: 0; 
}

.logoutButton {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.logoutButton:hover {
    background-color: #0056b3;
}
